@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-noto-sans);
}

body {
  color: #ededed;
  font-family: Noto Sans, Arial, Helvetica, sans-serif;
  font-weight: 500;
  min-height: 100vh;
  background: linear-gradient(to bottom, #1a1a2e 0%, #2d2d5e 40%, #4a4a7a 70%, #8a8aaa 100%);
}
